.main-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(238, 243, 247);
    border-radius: 20px;
    padding: 30px;
    min-width: min(500px, 80%);
}

.bingo-fields-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.button {
    border-radius: 8px;
}